{% include "headitem.html.twig" with {title: "D3TPLBLOCK_MAIN_TITLE"|translate} %}

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<style>
    .d3modcfg_btn.icon button {
        min-width: 300px;
    }
</style>

<script type="text/javascript">
    {% if not oxparentid %}
        window.onload = function ()
        {
            {% if updatelist == 1 %}
                top.oxid.admin.updateList('{{ oxid }}');
            {% endif %}
        }
    {% endif %}
</script>

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName()|raw }}">
    <input type="hidden" name="editlanguage" value="{{ editlanguage }}">
</form>
<form name="myedit" id="myedit" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName()|raw }}">
    <input type="hidden" name="fnc" value="">
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="editval[oxtplblocks__oxid]" value="{{ oxid }}">

    <table style="border: none; width: 98%; padding: 0; border-spacing: 0; border-collapse: collapse">
        <colgroup>
            <col style="width: 30%">
            <col style="width: 5%">
            <col style="width: 65%">
        </colgroup>
        <tr>
            <td style="vertical-align: top; width: 50%" class="edittext">
                <table style="border: none; padding: 0; border-spacing: 0; border-collapse: collapse">

                    {% block admin_d3tplblocks_extend_form %}

                        {% if oView.hasTplBlocks() %}
                            <tr>
                                <td class="edittext" rowspan="4" style="padding: 10px 20px 10px 0; vertical-align: middle;">
                                    <label for="cleartplblockslist">{{ translate({ ident: "D3TPLBLOCKS_MODULE" }) }}</label>
                                    <select name="tplblockmodule" size="1" id="cleartplblockslist" {{ readonly }}>
                                        <option value="">{{ translate({ ident: "D3TPLBLOCKS_CHOOSEMODULE" }) }}</option>
                                        {% for sModuleId in oView.getTplBlockModules() %}
                                            <option value="{{ sModuleId }}">{{ sModuleId }}</option>
                                        {% endfor %}
                                    </select><br>
                                </td>
                                <td class="edittext" style="vertical-align: top; height: 30px; padding: 10px;">
                                    <span class="d3modcfg_btn icon d3color-orange">
                                        <button id="sumbitbtn" type="submit" name="save" onClick="document.myedit.fnc.value='clearTplBlocks';" {{ readonly }}>
                                            <i class="fas fa-times-circle fa-inverse"></i>{{ translate({ ident: "D3TPLBLOCKS_REMBLOCKS" }) }}
                                        </button>
                                    </span> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3TPLBLOCKS_REMBLOCKS_DESC"), 'sHelpText': help_text("D3TPLBLOCKS_REMBLOCKS_DESC")} %}
                                    {# <br>
 <span style="font-size: 9px; display: block; padding-top: 10px;">{{ translate({ ident: "D3_CFG_CLRTMP_TPLBLOCKS_REQUACT" }) }}</span> #}
                                </td>
                            </tr>
                            <tr>
                                <td class="edittext" style="vertical-align: top; height: 30px; padding: 10px;">
                                    <span class="d3modcfg_btn icon d3color-blue">
                                        <button id="sumbitbtn" type="submit" name="save" onClick="document.myedit.fnc.value='deactivateTplBlocks';" {{ readonly }}>
                                            <i class="fas fa-minus-circle fa-inverse"></i>{{ translate({ ident: "D3TPLBLOCKS_DEACTBLOCKS" }) }}
                                        </button>
                                    </span> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3TPLBLOCKS_DEACTBLOCKS_DESC"), 'sHelpText': help_text("D3TPLBLOCKS_DEACTBLOCKS_DESC")} %}
                                </td>
                            </tr>
                            <tr>
                                <td class="edittext" style="vertical-align: top; height: 30px; padding: 10px;">
                                    <span class="d3modcfg_btn icon d3color-blue">
                                        <button id="sumbitbtn" type="submit" name="save" onClick="document.myedit.fnc.value='activateTplBlocks';" {{ readonly }}>
                                            <i class="fas fa-plus-circle fa-inverse"></i>{{ translate({ ident: "D3TPLBLOCKS_ACTBLOCKS" }) }}
                                        </button>
                                    </span> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3TPLBLOCKS_ACTBLOCKS_DESC"), 'sHelpText': help_text("D3TPLBLOCKS_ACTBLOCKS_DESC")} %}
                                </td>
                            </tr>
                            <tr>
                                <td class="edittext" style="vertical-align: top; height: 30px; padding: 10px;">
                                    <span class="d3modcfg_btn icon d3color-blue">
                                        <button id="sumbitbtn" type="submit" name="save" onClick="document.myedit.fnc.value='refreshTplBlocks';" {{ readonly }}>
                                            <i class="fas fa-sync fa-inverse"></i>{{ translate({ ident: "D3TPLBLOCKS_REFBLOCKS" }) }}
                                        </button>
                                    </span> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3TPLBLOCKS_REFBLOCKS_DESC"), 'sHelpText': help_text("D3TPLBLOCKS_REFBLOCKS_DESC")} %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ translate({ ident: "D3TPLBLOCKS_NOBLOCKS" }) }}</td>
                            </tr>
                        {% endif %}
                    {% endblock %}
                </table>
            </td>
            <td>&nbsp;</td>
            <!-- Anfang rechte Seite -->
            <td style="text-align: left; vertical-align: top" class="edittext">
                <table style="border: none; padding: 0; border-spacing: 0; border-collapse: collapse">
                    {% block admin_d3tplblocks_extend_editor %}
                        {% if oView.hasTplBlocks() %}
                            <tr>
                                <td class="edittext" style="vertical-align: top; height: 30px; padding: 10px;">
                                    <span class="d3modcfg_btn icon d3color-blue">
                                        <button id="sumbitbtn" type="submit" name="save" onClick="document.myedit.fnc.value='clearDuplicates';" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3TPLBLOCKS_CLEARDUPLICATES" }) }}
                                        </button>
                                    </span> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3TPLBLOCKS_CLEARDUPLICATES_DESC"), 'sHelpText': help_text("D3TPLBLOCKS_CLEARDUPLICATES_DESC")} %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endblock %}
                </table>
            </td>
            <!-- Ende rechte Seite -->
        </tr>
    </table>
</form>

{% include "@d3modcfg_lib/admin/inc/inc.html.twig" %}
