{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

<script type="text/javascript">
<!--
{% if updatelist == 1 %}
    UpdateList('{{ oxid }}');
{% endif %}

function getDetails(sElemId, sDisplayType)
{
    if (!sDisplayType) sDisplayType = 'table-row';

    let oElem = document.getElementById(sElemId);
    if (oElem.style.display === sDisplayType)
        oElem.style.display = 'none';
    else
        oElem.style.display = sDisplayType;
}

function getUpdateStatus()
{
    document.getElementById('getRemote').submit();
}
-->
</script>

<style>
<!--
body {
    background-color: {% if oView.getBgColor() %}{{ oView.getBgColor() }}{% else %}#FAFAFA{% endif %};
    margin: 0;
}
div.box {
    border: 0 none transparent;
    height: 253px;
    background: none {% if oView.getBgColor() %}{{ oView.getBgColor() }}#FAFAFA{% endif %} !important;
}
div.actions {
    display: none;
}
fieldset{
    border: 1px inset black;
    background-color: #F0F0F0;
}

legend{
    font-weight: bold;
}

dl dt{
    font-weight: normal;
    width: 55%;
}

.ext_edittext {
    padding: 2px;
}

td.edittext {
    white-space: normal;
}

td.noaction,
a.noaction{
    color:#AAA;
}

td.noaction img,
td.action img {
	border: none;
}

.box td.listitem2,
.box td.listitem
{
    padding: 2px 5px;
}

td.listitem.action,
td.listitem2.action,
td.listitem.noaction,
td.listitem2.noaction {
   padding-left: 5px;
   padding-right: 5px;
}

td.listitem img,
td.listitem2 img,
td.listitem .image,
td.listitem2 .image {
	height: 20px;
}

.d3install_btn {
	background
}

.statusyellow {
	width: 5px;
    background-color: #FFCC00;
}

.statusgreen {
    width: 5px;
    background-color: #00CC22;
}

.statusblue {
    width: 5px;
    background-color: #0000FF;
}

.box td.listitem.itemerror,
.box td.listitem2.itemerror {
    color: darkred;
}

.box td.listitem.itemdisabled,
.box td.listitem2.itemdisabled {
    color: #888
}

dl {
    border-top: none
}

dl dt {
    float: left;
    width: 270px;
    clear: both;
}

dl dd {
    float: left;
}

h4 {
    margin-top: 0;
}

-->
</style>

<div>
    <form action="{{ oViewConf.getSelfLink()|raw }}" method="post" id="activationform">
        {{ oViewConf.getHiddenSid()|raw }}
        <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName()|raw }}">
        <input type="hidden" name="modid" value="{{ oModule.d3GetModId() }}">

        {% if oView.isLicenseRequired() and oView.getNextStep() == 'getActivationType' %}
            <input type="hidden" name="fnc" value="setStep1">
            <h4>{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_TYPE_HEADLINE" }) }}</h4>
            <table style="border-style: none; padding: 0; border-spacing: 0; border-collapse: collapse">
                {% set listclass = "listitem2" %}
                <tr>
                    <td class="edittext {{ listclass }}">
                        <input id="boughtoxidmodule" value="boughtoxidmodule" type="radio" name="activationtype">
                    </td>
                    <td class="edittext {{ listclass }}">
                        <label for="boughtoxidmodule">{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_TYPE_OXIDMODULE" }) }}</label>
                    </td>
                    <td class="edittext {{ listclass }}">
                        {# oxinputhelp ident="D3_CFG_MOD_ACTIVATION_TYPE_OXIDMODULE_DESC" #}
                    </td>
                </tr>

                {% if oModule.hasActIdent() %}
                    {% set listclass = "listitem" %}
                    <tr>
                        <td class="edittext {{ listclass }}">
                            <input id="requestagain" value="requestagain" type="radio" name="activationtype">
                        </td>
                        <td class="edittext {{ listclass }}">
                            <label for="requestagain">{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_TYPE_REQUESTAGAIN" }) }}</label>
                        </td>
                        <td class="edittext {{ listclass }}">
                            {# oxinputhelp ident="D3_CFG_MOD_ACTIVATION_TYPE_REQUESTAGAIN_DESC" #}
                        </td>
                    </tr>
                {% endif %}

                {% set listclass = "listitem2" %}
                <tr>
                    <td class="edittext {{ listclass }}">
                        <input id="boughtforeign" value="boughtforeign" type="radio" name="activationtype">
                    </td>
                    <td class="edittext {{ listclass }}">
                        <label for="boughtforeign">{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_TYPE_FOREIGN" }) }}</label>
                    </td>
                    <td class="edittext {{ listclass }}">
                        {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_MOD_ACTIVATION_TYPE_FOREIGN_DESC"), 'sHelpText': help_text("D3_CFG_MOD_ACTIVATION_TYPE_FOREIGN_DESC")} %}
                    </td>
                </tr>


                {% set listclass = "listitem" %}
                <tr>
                    <td class="edittext {{ listclass }}">
                        <input id="usedemo" value="usedemo" type="radio" name="activationtype">
                    </td>
                    <td class="edittext {{ listclass }}">
                        <label for="usedemo">{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_TYPE_DEMO" }) }}</label>
                    </td>
                    <td class="edittext {{ listclass }}">
                        {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_MOD_ACTIVATION_TYPE_DEMO_DESC"), 'sHelpText': help_text("D3_CFG_MOD_ACTIVATION_TYPE_DEMO_DESC")} %}
                    </td>
                </tr>

                {% set listclass = "listitem2" %}
                <tr>
                    <td class="edittext {{ listclass }}">
                        <input id="wantbuy" value="wantbuy" type="radio" name="activationtype">
                    </td>
                    <td class="edittext {{ listclass }}">
                        <label for="wantbuy">{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_TYPE_BUY" }) }}</label>
                    </td>
                    <td class="edittext {{ listclass }}">
                        {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_MOD_ACTIVATION_TYPE_BUY_DESC"), 'sHelpText': help_text("D3_CFG_MOD_ACTIVATION_TYPE_BUY_DESC")} %}
                    </td>
                </tr>

                {% set listclass = "listitem" %}
                <tr>
                    <td class="edittext {{ listclass }}">
                        <input id="notlisted" value="notlisted" type="radio" name="activationtype">
                    </td>
                    <td class="edittext {{ listclass }}">
                        <label for="notlisted">{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_TYPE_NOTLISTED" }) }}</label>
                    </td>
                    <td class="edittext {{ listclass }}">
                        {# oxinputhelp ident="D3_CFG_MOD_ACTIVATION_TYPE_NOTLISTED_DESC" #}
                    </td>
                </tr>
            </table>
            {% set blBackStep = false %}
            {% set blNextStep = true %}
        {% elseif oView.isLicenseRequired() and oView.getNextStep() == 'getActivationData' %}
            <input type="hidden" name="fnc" value="setStep2">
            <input type="hidden" name="activationtype" value="{{ oView.getActivationType() }}">
            {% if oView.getActivationType() == 'boughtoxidmodule' or oView.getActivationType() == 'requestagain' or oView.getActivationType() == 'usedemo' %}
                {% set oShop = oView.getSubmitLicenceShop() %}
                <h4>{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_DATA_HEADLINE" }) }}</h4>
                <table style="border-style: none; padding: 0; border-spacing: 0; border-collapse: collapse;">
                    {% set listclass = "listitem2" %}
                    <tr>
                        <td class="edittext {{ listclass }}">
                            {{ translate({ ident: "D3_CFG_MOD_ACTIVATION_DATA_MODULE" }) }}
                        </td>
                        <td class="edittext {{ listclass }}">
                            {{ oModule.d3GetModId() }} ({{ oView.getModTitle(oModule) }})
                        </td>
                        <td class="edittext {{ listclass }}">
                            {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_MOD_ACTIVATION_DATA_MODULE_DESC"), 'sHelpText': help_text("D3_CFG_MOD_ACTIVATION_DATA_MODULE_DESC")} %}
                        </td>
                    </tr>

                    {% set listclass = "listitem" %}
                    <tr>
                        <td class="edittext {{ listclass }}">
                            {{ translate({ ident: "D3_CFG_MOD_ACTIVATION_DATA_MODVERSION" }) }}
                        </td>
                        <td class="edittext {{ listclass }}">
                            {{ oModule.getModVersion() }}
                        </td>
                        <td class="edittext {{ listclass }}">
                            {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_MOD_ACTIVATION_DATA_MODVERSION_DESC"), 'sHelpText': help_text("D3_CFG_MOD_ACTIVATION_DATA_MODVERSION_DESC")} %}
                        </td>
                    </tr>

                    {% set listclass = "listitem2" %}
                    <tr>
                        <td class="edittext {{ listclass }}">
                            {{ translate({ ident: "D3_CFG_MOD_ACTIVATION_DATA_DOMAIN" }) }}
                        </td>
                        <td class="edittext {{ listclass }}">
                            {{ oView.getSubmitLicenceDomain() }}
                        </td>
                        <td class="edittext {{ listclass }}">
                            {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_MOD_ACTIVATION_DATA_DOMAIN_DESC"), 'sHelpText': help_text("D3_CFG_MOD_ACTIVATION_DATA_DOMAIN_DESC")} %}
                        </td>
                    </tr>

                    {% set listclass = "listitem" %}
                    <tr>
                        <td class="edittext {{ listclass }}">
                            {{ translate({ ident: "D3_CFG_MOD_ACTIVATION_DATA_SHOP" }) }}
                        </td>
                        <td class="edittext {{ listclass }}">
                            {{ oShop.getId() }} ({{ oShop.getFieldData('oxname') }})
                        </td>
                        <td class="edittext {{ listclass }}">
                            {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_MOD_ACTIVATION_DATA_SHOP_DESC"), 'sHelpText': help_text("D3_CFG_MOD_ACTIVATION_DATA_SHOP_DESC")} %}
                        </td>
                    </tr>

                    {% set listclass = "listitem2" %}
                    <tr>
                        <td class="edittext {{ listclass }}">
                            {{ translate({ ident: "D3_CFG_MOD_ACTIVATION_DATA_EDITION" }) }}
                        </td>
                        <td class="edittext {{ listclass }}">
                            {{ oView.getSubmitShopEdition(0) }} ({{ oView.getSubmitShopEdition(1) }})
                        </td>
                        <td class="edittext {{ listclass }}">
                            {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_MOD_ACTIVATION_DATA_EDITION_DESC"), 'sHelpText': help_text("D3_CFG_MOD_ACTIVATION_DATA_EDITION_DESC")} %}
                        </td>
                    </tr>

                    {% if oView.getActivationType() == 'boughtoxidmodule' %}
                        {% set listclass = "listitem" %}
                        <tr>
                            <td class="edittext {{ listclass }}">
                                <label for="D3_CFG_MOD_ACTIVATION_DATA_VOUCHER">{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_DATA_VOUCHER" }) }}</label>
                            </td>
                            <td class="edittext {{ listclass }}">
                                <textarea id="D3_CFG_MOD_ACTIVATION_DATA_VOUCHER" class="editinput" cols="82" name="licencekey" style="font-family: Courier, monospace; height: 60px; font-size: 10px;"></textarea>
                            </td>
                            <td class="edittext {{ listclass }}">
                                {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_MOD_ACTIVATION_DATA_VOUCHER_DESC"), 'sHelpText': help_text("D3_CFG_MOD_ACTIVATION_DATA_VOUCHER_DESC")} %}
                            </td>
                        </tr>
                    {% endif %}
                </table>

                {% if oView.getActivationType() == 'usedemo' %}
                    <div class="clear"></div>
                    <p>{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_DATA_DEMO_DESC" }) }}</p>
                {% endif %}
                <div class="clear"></div>
                {% set blBackStep = true %}
                {% set blNextStep = true %}
            {% elseif oView.getActivationType() == "boughtforeign" %}
                <input type="hidden" name="activationtype" value="">
                <input type="hidden" name="fnc" value="">
                <h4>{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_FOREIGN_HEADLINE" }) }}</h4>
                <p>{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_FOREIGN_DESC" }) }}</p>
                <div class="clear"></div>
                {% set blBackStep = true %}
                {% set blNextStep = false %}
            {% elseif oView.getActivationType() == 'wantbuy' %}
                <input type="hidden" name="activationtype" value="">
                <input type="hidden" name="fnc" value="">
                <h4>{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_BUY_HEADLINE" }) }}</h4>
                {{ translate({ ident: "D3_CFG_MOD_ACTIVATION_BUY_DESC_1" }) }}
                https://www.oxidmodule.com/index.php?cl=search&searchparam={{ oModule.d3GetModId() }}
                {{ translate({ ident: "D3_CFG_MOD_ACTIVATION_BUY_DESC_2" }) }}
                <div class="clear"></div>
                {% set blBackStep = true %}
                {% set blNextStep = false %}
            {% elseif oView.getActivationType() == "notlisted" %}
                <input type="hidden" name="activationtype" value="">
                <input type="hidden" name="fnc" value="">
                <h4>{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_NOTLISTED_HEADLINE" }) }}</h4>
                {{ translate({ ident: "D3_CFG_MOD_ACTIVATION_NOTLISTED_DESC" }) }}
                <div class="clear"></div>
                {% set blBackStep = true %}
                {% set blNextStep = false %}
            {% endif %}
        {% elseif oView.isLicenseRequired() and oView.getNextStep() == 'submitData' %}
            <input type="hidden" name="fnc" value="">
            <input type="hidden" name="activationtype" value="{{ oView.getActivationType() }}">
            {% if not oView.getSubmitStatus() %}
                <h4>{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_SUBMIT_SUCCESS_HL" }) }}</h4>
                <p>{{ oView.getExpirationMessage() }}</p>
                <textarea style="width: 600px; height: 130px; font-family: Courier, monospace;">{{ oView.getModuleSerial() }}</textarea>
                {% set blBackStep = true %}
                {% set blNextStep = false %}
            {% else %}
                <h4>{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_SUBMIT_NSUCCESS_HL" }) }}</h4>
                <p>{{ oView.getNotSuccessMessage() }}</p>
                {% set blBackStep = true %}
                {% set blNextStep = false %}
            {% endif %}
        {% elseif oView.getNextStep() == 'saveSerialSuccess' %}
            <h4>{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_SUBMIT_SUCCESS_HL" }) }}</h4>
            <p>{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_SAVESERIALSUCC" }) }}</p>
            {% set blBackStep = false %}
            {% set blNextStep = false %}
        {% endif %}

        {% if blBackStep %}
            <span class="d3modcfg_btn icon d3color-blue" style="margin: 10px 23px 0 0">
                <button type="button" onclick="aElems = document.getElementsByName('activationtype'); aElems[0].value = ''; aFElems = document.getElementsByName('fnc'); aFElems[0].value = ''; document.getElementById('activationform').submit();">
                    <i class="fas fa-reply fa-inverse"></i>{{ translate({ ident: "D3_CFG_MOD_ACTIVATION_SUBMIT_BACK" }) }}
                </button>
            </span>
        {% endif %}
        {% if blNextStep %}
            <span class="d3modcfg_btn icon d3color-green" style="margin: 10px 0 0 0;">
                <button type="submit">
                    <i class="fas fa-check-circle fa-inverse"></i>{{ oView.getSubmitText() }}
                </button>
            </span>
        {% endif %}
    </form>

    {% include "@d3modcfg_lib/admin/inc/inc.html.twig" %}

    {% include "bottomitem.html.twig" %}
