{% include "headitem.html.twig" with {title: "d3tbclclr_mtn"|translate} %}

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="oxidCopy" value="{{ oxid }}">
    <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName()|raw }}">
</form>

<form name="myedit" id="myedit" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName()|raw }}">
    <input type="hidden" name="fnc" value="">
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="voxid" value="{{ oxid }}">
</form>

<script type="text/javascript">
    function sendForm(sFncName)
    {
        let oForm;
        document.getElementById('mask').className='on';
        document.getElementById('popup2').className='d3loader-2 on';
        oForm = document.getElementById('delform');
        oForm.action.value = sFncName;
        oForm.submit();
    }
    function sendCheckForm()
    {
        let oForm;
        document.getElementById('mask').className='on';
        document.getElementById('popup2').className='d3loader-2 on';
        oForm = document.getElementById('delform');
        oForm.fnc.value = 'checkitems';
        oForm.submit();
    }
</script>


<style>
    td.edittext {
        white-space: normal;
    }

    #popup2 {
        display: none;
    }

    .innerTbl {
        width: 100%;
    }

    .innerTbl td {
        padding: 5px 2px;
    }

    .innerTbl td:nth-child(2) {
        width: 185px;
    }

    form fieldset {
        margin-bottom: 20px;
    }

    form fieldset legend {
        font-weight: bold;
    }

    .innerTbl tr:nth-child(2n + 1) td {
        background-color: #fafafa;
    }

    .d3modcfg_btn.d3ShowItem {
        border: 1px solid red;
    }

    .d3modcfg_btn.d3color-green button {
        width: 150px;
    }

    .d3modcfg_btn.d3color-green.d3ShowItem button {
        width: auto;
        min-width: 150px;
    }
</style>

<form name="delform" id="delform" action="{{ oViewConf.getSelfLink()|raw }}" method="post" onsubmit="document.getElementById('mask').className='on';document.getElementById('popup2').className='d3loader-2 on'; return;">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName()|raw }}">
    <input type="hidden" name="action" value="clearTmp">
    <input type="hidden" name="fnc" value="tidy">

    <span class="d3modcfg_btn icon d3color-blue" style="margin-left: 17px;">
        <button id="sumbitbtn" type="button" name="save" onclick="sendCheckForm();" {{ readonly }}>
            <i class="fas fa-info-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_CHECKALL" }) }}
        </button>
    </span>

    <table style="border: none; padding: 0; border-spacing: 0; border-collapse: collapse; width: 100%; margin-top: 15px">
        <tr>
            <td style="vertical-align: top; width: 50%" class="edittext">
                {% block d3cleartmp_form %}
                    <fieldset>
                        <legend>{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGN" }) }} {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGN_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGN_DESC")} %}</legend>
                        <table style="border: none; padding: 0; border-spacing: 0; border-collapse: collapse" class="innerTbl">
                            {% set blShowItem = false %}
                            {% if aCheckResults.AccessioreToArticleOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignacc2art">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNACC2ART" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNACC2ART_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNACC2ART_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('AccessioreToArticleOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.AccessioreToArticleOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.ActionsToArticleOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignact2art">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNACT2ART" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNACT2ART_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNACT2ART_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('ActionsToArticleOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.ActionsToArticleOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.ArticleExtendsOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignartextends">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNARTEXTENDS" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNARTEXTENDS_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNARTEXTENDS_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('ArticleExtendsOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.ArticleExtendsOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.CategoryToAttributeOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassigncat2attrib">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNCAT2ATTRIB" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNCAT2ATTRIB_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNCAT2ATTRIB_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('CategoryToAttributeOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.CategoryToAttributeOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.DeliveryToDeliverySetOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassigndel2delset">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNDEL2DELSET" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNDEL2DELSET_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNDEL2DELSET_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('DeliveryToDeliverySetOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.DeliveryToDeliverySetOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.NewsSubscribedOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignnewssubscribed">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNNEWSSUBSCRIBED" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNNEWSSUBSCRIBED_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNNEWSSUBSCRIBED_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('NewsSubscribedOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.NewsSubscribedOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.Object2ActionsOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignobj2action">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNOBJ2ACTION" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNOBJ2ACTION_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNOBJ2ACTION_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('Object2ActionsOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.Object2ActionsOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.Object2ArticleOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignobj2art">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNOBJ2ART" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNOBJ2ART_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNOBJ2ART_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('Object2ArticleOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.Object2ArticleOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.Object2AttributeOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignobj2attrib">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNOBJ2ATTRIB" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNOBJ2ATTRIB_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNOBJ2ATTRIB_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('Object2AttributeOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.Object2AttributeOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.Object2CategoryOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignobj2cat">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNOBJ2CAT" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNOBJ2CAT_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNOBJ2CAT_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('Object2CategoryOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.Object2CategoryOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.Object2DeliveryOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixoldoxdeliveryassignments">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNOBJ2DEL" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNOBJ2DEL_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNOBJ2DEL_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('Object2DeliveryOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.Object2DeliveryOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.Object2DiscountOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignobj2disc">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNOBJ2DISC" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNOBJ2DISC_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNOBJ2DISC_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('Object2DiscountOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.Object2DiscountOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.Object2GroupOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignobj2group">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNOBJ2GROUP" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNOBJ2GROUP_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNOBJ2GROUP_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('Object2GroupOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.Object2GroupOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.Object2ListOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignobj2list">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNOBJ2LIST" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNOBJ2LIST_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNOBJ2LIST_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('Object2ListOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.Object2ListOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.Object2PaymentOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignobj2payment">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNOBJ2PAYMENT" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNOBJ2PAYMENT_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNOBJ2PAYMENT_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('Object2PaymentOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.Object2PaymentOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.Object2SelectlistOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignobj2sellist">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNOBJ2SELLIST" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNOBJ2SELLIST_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNOBJ2SELLIST_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('Object2SelectlistOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.Object2SelectlistOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.Price2ArticleOrphans %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixassignprice2art">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNPRICE2ART" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNPRICE2ART_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNPRICE2ART_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('Price2ArticleOrphans')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.Price2ArticleOrphans }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                {% endblock %}
            </td>
            <td style="vertical-align: top; text-align: left;" class="edittext">
                {% block d3cleartmp_info %}
                    <fieldset>
                        <legend>{{ translate({ ident: "D3_CFG_CLRTMP_INACTIVE" }) }}</legend>
                        <table style="border: none; padding: 0; border-spacing: 0; border-collapse: collapse" class="innerTbl">
                            {% set blShowItem = false %}
                            {% if aCheckResults.UnassignInactiveCountries %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="unassigninactivecountries">{{ translate({ ident: "D3_CFG_CLRTMP_UNASSIGNINACTIVECOUNTRIES" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_UNASSIGNINACTIVECOUNTRIES_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_UNASSIGNINACTIVECOUNTRIES_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('UnassignInactiveCountries')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.UnassignInactiveCountries }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.DeactivateEmptyCategories %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="inactivecategories">{{ translate({ ident: "D3_CFG_CLRTMP_DEACTIVATEEMPTYCATEGORIES" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_DEACTIVATEEMPTYCATEGORIES_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_DEACTIVATEEMPTYCATEGORIES_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CHANGEDB" }) }}')) {sendForm('DeactivateEmptyCategories')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.DeactivateEmptyCategories }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>{{ translate({ ident: "D3_CFG_CLRTMP_MISSING" }) }}</legend>
                        <table style="border: none; padding: 0; border-spacing: 0; border-collapse: collapse" class="innerTbl">
                            {% set blShowItem = false %}
                            {% if aCheckResults.InsertMissingArticleExtends %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixoxartextends">{{ translate({ ident: "D3_CFG_CLRTMP_OXARTICLECONSIST" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_OXARTICLECONSIST_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_OXARTICLECONSIST_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CHANGEDB" }) }}')) {sendForm('InsertMissingArticleExtends')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.InsertMissingArticleExtends }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>{{ translate({ ident: "D3_CFG_CLRTMP_VARIANTS" }) }}</legend>
                        <table style="border: none; padding: 0; border-spacing: 0; border-collapse: collapse" class="innerTbl">
                            {% set blShowItem = false %}
                            {% if aCheckResults.SelfAssignedVariants %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixvariantparentisvar">{{ translate({ ident: "D3_CFG_CLRTMP_VARIANTPARENTISVAR" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_VARIANTPARENTISVAR_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_VARIANTPARENTISVAR_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CHANGEDB" }) }}')) {sendForm('SelfAssignedVariants')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.SelfAssignedVariants }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.ClearVariantsWithoutParent %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixvariantswithoutparent">{{ translate({ ident: "D3_CFG_CLRTMP_ASSIGNVARIANTWOPARENT" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_ASSIGNVARIANTWOPARENT_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_ASSIGNVARIANTWOPARENT_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CLEARDB" }) }}')) {sendForm('ClearVariantsWithoutParent')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.ClearVariantsWithoutParent }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>

                            {% set blShowItem = false %}
                            {% if aCheckResults.ClearVariantsWithoutParent %}
                                {% set blShowItem = true %}
                            {% endif %}
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="fixvariantactive">{{ translate({ ident: "D3_CFG_CLRTMP_VARIANTACTIVE" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_VARIANTACTIVE_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_VARIANTACTIVE_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENERAL_CHANGEDB" }) }}')) {sendForm('ClearVariantsWithoutParent')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}{% if blShowItem %} ({{ aCheckResults.ClearVariantsWithoutParent }}){% endif %}
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>{{ translate({ ident: "D3_CFG_CLRTMP_OTHER" }) }}</legend>
                        <table style="border: none; padding: 0; border-spacing: 0; border-collapse: collapse" class="innerTbl">
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="cleargeneratedarticlepictures">{{ translate({ ident: "D3_CFG_CLRTMP_GENIMGS" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_GENIMGS_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_GENIMGS_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}" style="">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENIMGS_WARN" }) }}')) {sendForm('ClearGeneratedArticleImages')}" {{ readonly }}>
                                            <i class="fas fa-check-circle fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}
                                        </button>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="cleargeneratedcategorypictures">{{ translate({ ident: "D3_CFG_CLRTMP_GENCATIMGS" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_GENCATIMGS_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_GENCATIMGS_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}" style="">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENIMGS_WARN" }) }}')) {sendForm('ClearGeneratedCategoryImages')}" {{ readonly }}>
                                            <i class="fas fa-check-circle d3fa-17x fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}
                                        </button>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="cleargeneratedmanufacturerpictures">{{ translate({ ident: "D3_CFG_CLRTMP_GENMNFIMGS" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_GENMNFIMGS_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_GENMNFIMGS_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}" style="">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENIMGS_WARN" }) }}')) {sendForm('ClearGeneratedManufacturerImages')}" {{ readonly }}>
                                            <i class="fas fa-check-circle d3fa-17x fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}
                                        </button>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="cleargeneratedvendorpictures">{{ translate({ ident: "D3_CFG_CLRTMP_GENVNDIMGS" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_GENVNDIMGS_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_GENVNDIMGS_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}" style="">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENIMGS_WARN" }) }}')) {sendForm('ClearGeneratedVendorImages')}" {{ readonly }}>
                                            <i class="fas fa-check-circle d3fa-17x fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}
                                        </button>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top" class="edittext">
                                    <label for="cleargeneratedwrappingpictures">{{ translate({ ident: "D3_CFG_CLRTMP_GENWRPIMGS" }) }}</label> {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_CFG_CLRTMP_GENWRPIMGS_DESC"), 'sHelpText': help_text("D3_CFG_CLRTMP_GENWRPIMGS_DESC")} %}
                                </td>
                                <td>
                                    <span class="d3modcfg_btn fixed icon d3color-green{% if blShowItem %} d3ShowItem{% endif %}" style="">
                                        <button id="sumbitbtn" type="button" name="save" onclick="if(confirm('{{ translate({ ident: "D3_CFG_CLRTMP_GENIMGS_WARN" }) }}')) {sendForm('ClearGeneratedWrappingImages')}" {{ readonly }}>
                                            <i class="fas fa-check-circle d3fa-17x fa-inverse"></i>{{ translate({ ident: "D3_CFG_MNT_SUBMIT" }) }}
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                {% endblock %}
            </td>
        </tr>
    {# **
 https://d3data.local:81/FAQ/Datenbank/Abfragen/Variantenanzahl-mit-hinterlegtem-Wert-am-Vaterartikel-vergleichen.html
 https://d3data.local:81/FAQ/Datenbank/Daten-AEnderungen/Anzahl-verkaufter-Artikel-nachtragen.html
 https://d3data.local:81/FAQ/Datenbank/Daten-AEnderungen/Alte-Selectlisten-loeschen.html
 https://d3data.local:81/FAQ/Datenbank/Daten-AEnderungen/Vaterartikel-ohne-Varianten-finden.html
 ** #}
    </table>
</form>

<div id="mask" class=""></div>
<div id="popup2" class="d3loader-2">
    <div class="d3loader-spinner">
        <div class="d3loader-circle-1"></div>
        <div class="d3loader-circle-2"></div>
        <div class="d3loader-circle-3"></div>
    </div>
</div>

{% include "@d3modcfg_lib/admin/inc/inc.html.twig" %}